<!DOCTYPE html>
<html>
  <head>
    <title>Connect</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../public/index.css" type="text/css" />
    <script src="../public/index.js"></script>
  </head>
  <body>
    <header></header>
    <main>
      <form name="id" action="/auth" method="post">
        <div id="username">
          <label for="input-username">Username:</label>
          <input id="input-username" name="username" type="text" placeholder="Anonymous" />
        </div>
        <div id="password">
          <label for="input-password">Password:</label>
          <input id="input-password" name="password" type="password" placeholder="" disabled />
        </div>
        <div id="email">
          <label for="input-email">Email:</label>
          <input id="input-email" name="email" type="email" placeholder="" disabled />
        </div>
        <div id="mode">
            <div>
              <input id="mode-anonymous" name="mode" type="radio" value="Anonymous" checked />
              <label for="mode-anonymous">Anonymous</label>
            </div>
            <div>
              <input id="mode-login" name="mode" type="radio" value="Login" />
              <label for="mode-login">Login</label>
            </div>
            <div>
              <input id="mode-register" name="mode" type="radio" value="Register" />
              <label for="mode-register">Register</label>
            </div>
        </div>
        <div id="submit">
          <button type="submit">Connect</button>
        </div>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
